---
layout: default
---
<div class="dashed"></div>
<header>
  <h1>Blog</h1>
</header>
<p>잡다한 글을 모아두는 곳</p>
<p>
{% for tag in site.data.tags %}
  <span class="tag" data-tag="{{tag}}">
    {{ site.data.format[tag] }}
  </span>
{% endfor %}
</p>
{% for post in site.posts %}
    <div class="post-cont hidden appear"
     {% if post.tags %}
      {% for tag in post.tags %}
        data-{{ tag }}
      {% endfor %}
    {% endif %}>
      <ul>
<li class="post-list-item">
     <span class="home-date">
          {{ post.date | date: site.theme_config.date_format }}»
        </span>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
      <p>
     {% for tag in post.tags %}
      <span class="tag" data-tag="{{tag}}">
    {{ site.data.format[tag] }}
        </span>
      {% endfor %}
      </p>
  </ul>
</div>
{% endfor %}

{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
  </footer>
{% endif %}
<script>
$("[data-tag]").click((e) => {
  currentTag = e.target.dataset.tag;
  filterByTagName(currentTag);
})

function filterByTagName(tagName) {
  $('.post-cont').each((index, elem) => {
    if (!elem.hasAttribute(`data-${tagName}`)) {
    $(elem).addClass('disappear');
    setTimeout(function(){$(elem).removeClass('appear')},1001);
  }
    else {
    $(elem).removeClass('disappear');
    $(elem).addClass('appear');
  }
  });
  $(`.tag`).removeClass('selected');
  $(`.tag[data-tag=${tagName}]`).addClass('selected');
}

  $(document).ready(function() {
  let currentTag = "";
  const queryTag = getQuery().tag;
  if (queryTag) {
    currentTag = queryTag;
    filterByTagName(currentTag)
  }
});

function getQuery() {
  var params = {};  
    
    window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, 
    	function(str, key, value) { 
        	params[key] = value; 
        }
    );     
    
    return params; 
}
  
function updateQueryString(tagName) {
  const path = `${location.protocol}//${location.host}${location.pathname}?tag=${tagName}`;
}
</script>
