---
layout: default
---

<header>
{% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
{% endif %}
  
<div class="dashed"></div>
</header>

<p align="center">
  <svg width="240" height="200" xmlns="http://www.w3.org/2000/svg">
    <path xmlns="http://www.w3.org/2000/svg" fill=var(--headings) d="m11.02,15.4c-2.46,22.27 -6.7,46.93 3.38,78.44c-7.01,26.04 1.25,65.49 24.08,86.32c85.16,-59.91 162,-0.94 162,-0.94c7.38,-4.82 37.54,-52.88 23.46,-84.37c10.15,-50.34 5.04,-62.32 4.69,-78.82c-0.48,-1.18 -45.47,-3.92 -62.4,9.98c-13.28,-6.06 -50.34,-17.69 -93.19,-0.83c-32.7,-11.88 -50.25,-8.8 -62.02,-9.78z" id="seokgukim"/>
  </svg>
</p>

<p align="center">
  <h1>구버전 블로그는 더 이상 업데이트 되지 않습니다.</h1>
  <a href="https://seokgukim.co.kr" target="_blank" rel="noreferrer">
    <h2>새로운 블로그로 가기</h2>
  </a>
</p>

{{ content }}

{% if site.theme_config.show_projects == true %}
  <h2>{{ site.theme_config.home.title_projects }}</h2>
  {% include card_list.html collection=site.data.home.project_entries %}
{% endif %}

{% if site.theme_config.show_old_projects == true %}
  <h2>{{ site.theme_config.home.title_old_projects }}</h2>
  {% include card_list.html collection=site.data.home.old_project_entries %}
{% endif %}

{% if site.theme_config.show_misc_list == true %}
  <h2>{{ site.theme_config.home.title_misc_list }}</h2>
  {% include vertical_list.html collection=site.data.home.misc_entries %}
{% endif %}


{% if site.theme_config.show_blog == true %}
  <h2>Recent Posts</h2>
  {% include post_list.html %}
{% endif %}


{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}
