---
layout: default
---

<header>
{% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
{% endif %}
  
<div class="dashed"></div>
</header>

<p align="center">
  <svg width="300" height="250" xmlns="http://www.w3.org/2000/svg">
    <path xmlns="http://www.w3.org/2000/svg" fill=var(--headings) d="m10.83966,23.58822c-3.13977,28.48181 -8.56963,60.01706 4.32113,100.33093c-8.97078,33.30863 1.60292,83.75766 30.8,110.4c108.92157,-76.63344 207.2,-1.2 207.2,-1.2c9.43786,-6.171 48.01707,-67.63903 30,-107.90488c12.97561,-64.39772 6.43902,-79.71008 6,-100.81512c-0.60976,-1.50927 -58.16438,-5.00603 -79.80822,12.75616c-16.98974,-7.74794 -64.39045,-22.61918 -119.1884,-1.05205c-41.83279,-15.19268 -64.27727,-11.25111 -79.32451,-12.51504z" id="svg_18"/>
  </svg>
</p>

{{ content }}

{% if site.theme_config.show_projects == true %}
  <h2>{{ site.theme_config.home.title_projects }}</h2>
  {% include card_list.html collection=site.data.home.project_entries %}
{% endif %}

{% if site.theme_config.show_old_projects == true %}
  <h2>{{ site.theme_config.home.title_old_projects }}</h2>
  {% include card_list.html collection=site.data.home.old_project_entries %}
{% endif %}

{% if site.theme_config.show_misc_list == true %}
  <h2>{{ site.theme_config.home.title_misc_list }}</h2>
  {% include vertical_list.html collection=site.data.home.misc_entries %}
{% endif %}


{% if site.theme_config.show_blog == true %}
  <h2>Recent Posts</h2>
  {% include post_list.html %}
{% endif %}


{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}
